/*

Colors:
Main Blue: BAD9D7
Main Grey: e3e3e3

Black: 282828
Darker Blue: b3bfbf
Red: CB949F

*/

@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700');

html, body {
	width: 100%;
	height: 100%;
}

/* SHADOWS */
@-webkit-keyframes header-img{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 30px 0 rgba(0,0,0,.07)}}@keyframes header-img{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 30px 0 rgba(0,0,0,.07)}}
@-webkit-keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 30px 0 rgba(0,0,0,0.19)}}@keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 30px 0 rgba(0,0,0,.19)}}

/*start*/
@-webkit-keyframes grow-90{from { right: 100%; }to{ right: 10%; }}@-keyframes grow-90{from { right: 100%; }to{ right: 10%; }}
@-webkit-keyframes grow-85{from { right: 100%; }to{ right: 15%; }}@-keyframes grow-90{from { right: 100%; }to{ right: 15%; }}
@-webkit-keyframes grow-60{from { right: 100%; }to{ right: 40%; }}@-keyframes grow-90{from { right: 100%; }to{ right: 40%; }}
@-webkit-keyframes grow-80{from { right: 100%; }to{ right: 20%; }}@-keyframes grow-90{from { right: 100%; }to{ right: 20%; }}
@-webkit-keyframes grow-50{from { right: 100%; }to{ right: 50%; }}@-keyframes grow-90{from { right: 100%; }to{ right: 50%; }}


.shadow-drop-center {
	-webkit-animation: shadow-drop-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s both;
	-moz-animation: shadow-drop-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s both;
	animation: shadow-drop-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s both;
}

h1 {
	color:#CB949F;
	font-family: 'Karla', sans-serif;
	font-weight: bold;
}
p {
	color:#555;
}

/* HOME PAGE */

.home {
	padding: 40px;
	padding-top: 70px;
	height: 100%;
	position: relative;
}

.blue-gradient {
	width:100%;
	height:90%;
	position: relative;
	z-index: 0;
	min-height: 600px;
	background: #BAD9D7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #BAD9D7, #e3e3e3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #BAD9D7, #e3e3e3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #BAD9D7, #e3e3e3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #BAD9D7, #e3e3e3); /* Standard syntax */
}

.logo img {
	position: absolute;
	width:20px;
	padding: 50px;
	z-index: 10;
}

.header-img img{
	width:300px;
	border-radius: 300px;
	border: 30px solid white;
	-webkit-animation: header-img 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s both;
	-moz-animation: header-img 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s both;
	animation: header-img 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s both;
	vertical-align:middle;

}

.header-info {
	width:100%;
	font-family: 'Karla' , sans-serif;
	color: #282828;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: normal;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

.navbar {
	background: white;
	border-bottom: 0px;
}

/* ABOUT ME */

.about {
	padding: 40px;
}


#scale {
  padding-bottom: 30px;
  position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
}

#scale p {
  position: absolute;
    bottom: 0;
    left: -0.30%;
}

#scale p.one { left: 24%; }
#scale p.two { left: 49%; }
#scale p.three { left: 74%; }
#scale p.four { left: 99%; }

.grid {
  border-left: 1px dotted #e3e3e3;
  border-bottom: 1px dotted #e3e3e3;
  float: left;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

.bar {
  float: left;
  height: 18px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.bar .inner {
  background-color: #BAD9D7;
	background: -webkit-linear-gradient(left right, #BAD9D7, #e3e3e3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( right, #BAD9D7, #e3e3e3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( right, #BAD9D7, #e3e3e3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to  right, #BAD9D7, #e3e3e3); /* Standard syntax */
  position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
	color:white;
	font-size:11px;
	font-weight: bold;
	letter-spacing: 2px;
	padding-top: 1px;
}

.bar.pct-90 .inner {
  -webkit-animation-duration: 2s;
  -webkit-animation-name: grow-90;
  right: 10%;
}

.bar.pct-85 .inner {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: grow-85;
  right: 15%;
}

.bar.pct-60 .inner {
  -webkit-animation-duration: 5s;
  -webkit-animation-name: grow-60;
  right: 40%;
}

.bar.pct-80 .inner {
  -webkit-animation-duration: 4s;
  -webkit-animation-name: grow-80;
  right: 20%;
}

.bar.pct-50 .inner {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: grow-50;
  right: 50%;
}



.v-divider {
  border-right: 1px dotted #e3e3e3;
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.v-divider.one { right: 75%; }
.v-divider.two { right: 50%; }


.quick-facts {
	border: 1px solid #e3e3e3;
	padding:30px;
}

.buffer {

}

/* MEDIA SCREENS */
@media screen and (max-width: 991px) {
	.buffer {
		width:100px;
		height:80px;
	}

}

@media screen and (max-width: 800px) {

    .home {
			padding:0px;
			padding-top: 50px;
		}
}
